import ../../tools/preset.bazelrc

common --@rules_python//python/config_settings:bootstrap_impl=script

build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/ --bes_backend=grpcs://remote.buildbuddy.io
common:buildbuddy --config=ci --remote_executor=grpcs://remote.buildbuddy.io
